@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --background: 240 60% 97%;
      --foreground: 240 60% 6%;
      --card: 240 60% 97%;
      --card-foreground: 240 60% 6%;
      --popover: 240 60% 97%;
      --popover-foreground: 240 60% 6%;
      --primary: 239 49% 43%;
      --primary-foreground: 273 90% 96%;
      --secondary: 20 59% 71%;
      --secondary-foreground: 240 60% 6%;
      --muted: 240 61% 20%;
      --muted-foreground: 215 16% 47%;
      --accent: 73 59% 60%;
      --accent-foreground: 240 60% 6%;
      --destructive: 0 85% 60%;
      --destructive-foreground: 240 60% 97%;
      --border: 20 59% 71%;
      --input: 240 61% 20%;
      --ring: 73 59% 40%;
      --radius: 0.5rem;
    }
   
    .dark {
      --background: 240 60% 3%;
      --foreground: 240 60% 94%;
      --card: 240 60% 3%;
      --card-foreground: 240 60% 94%;
      --popover: 240 60% 3%;
      --popover-foreground: 240 60% 94%;
      --primary: 239 49% 57%;
      --primary-foreground: 273 90% 96%;
      --secondary: 20 59% 60%;
      --secondary-foreground: 240 60% 94%;
      --muted: 240 61% 80%;
      --muted-foreground: 215 20% 65%;;
      --accent: 73 59% 40%;
      --accent-foreground: 240 60% 3%;
      --destructive: 330.4,81.2%,60.4%;
      --destructive-foreground: 210,40%,96.1%;
      --border: 20 59% 40%;
      --input: 240 61% 80%;
      --ring: 73 59% 60%;
    }
  }
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}