@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 196 60% 95%;
    --foreground: 195 60% 4%;
    --card: 196 60% 95%;
    --card-foreground: 195 60% 4%;
    --popover: 196 60% 95%;
    --popover-foreground: 195 60% 4%;
    --primary: 17 60% 67%;
    --primary-foreground: 195 60% 4%;
    --secondary: 48 60% 84%;
    --secondary-foreground: 195 60% 4%;
    --muted: 196 61% 20%;
    --muted-foreground: 195 59% 70%;
    --accent: 347 60% 44%;
    --accent-foreground: 196 60% 95%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 196 60% 95%;
    --border: 196 61% 20%;
    --input: 196 61% 20%;
    --ring: 347 60% 40%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 196 60% 5%;
    --foreground: 195 60% 96%;
    --card: 196 60% 5%;
    --card-foreground: 195 60% 96%;
    --popover: 196 60% 5%;
    --popover-foreground: 195 60% 96%;
    --primary: 17 60% 33%;
    --primary-foreground: 196 60% 95%;
    --secondary: 48 60% 16%;
    --secondary-foreground: 196 60% 95%;
    --muted: 196 61% 80%;
    --muted-foreground: 195 60% 96%;
    --accent: 347 60% 56%;
    --accent-foreground: 196 60% 95%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 196 60% 95%;
    --border: 196 60% 60%;
    --input: 196 61% 80%;
    --ring: 347 60% 60%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}